.fixed-height-card {
    height: 100%; /* Adjust this height as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
